body {
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    font-size: 1.5em;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.calculatorGrid {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 5em);
    grid-template-rows: repeat(5, 5em);
}

.screen {
    border: 2px solid;
    text-align: right;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.screenBigParragraph, .screenSmallParragraph {
    font-size: 3em;
    padding: 16px;
    margin: 0;
    border: 0;
    color: rgb(255,2555,255);
}

.screenSmallParragraph {
    color: rgb(120, 120, 120);
    font-size: 1em;
}

.calculatorGrid > button {
    background-color: rgb(180, 220, 250);
    border: 1px solid;
    font-size: 1.5em;
    outline: none;

}

.calculatorGrid > button:hover {
    background-color: rgba(180, 220, 250, 0.6);
}

.bigButton {
    grid-column: span 2;
}